body {
    font-family: 'Sriracha', cursive;
}
header {
    text-align: center;
    background-color: white;
    padding: 10px 0 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.jumbotron {
    height: 290px;
    background-color: #ff0040;
    clear:both;
    
}

.jumbotron h1{
    font-size: 100px;
    color: whitesmoke;
}
.card {
    width: 33%;
    float:left;
    
}
.card-header{
    height:200px;
    background-color: #ff0040;
}
.card p{
    color: whitesmoke;
    font-size: 20px;
}
